header{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin:15px;

}
.headerContainer{
  margin:10px;
  display: flex;
  justify-content:space-between;
  padding: 5px;
  
}

.logoName{
  font-size: 27px;
  font-family: 'Audiowide';
  display:flex;
  justify-content: center;
}
.tmfsHeader:hover{
 color: rgb(255, 255, 255);
 cursor:default
}
span.tmfsHeader{
  padding-left: 10px;
  margin-top:6px ;
  color:rgb(240, 240, 190);
}
div.menuList{
  margin-right: 10px;
}

.menuList>ul{
  justify-content: space-around;
  display: inline-flex;
  margin: 0px;
  padding: 0px;

}
.menuList>ul>li{
  padding:0px 15px 5px 10px;
  font-size: 18px;
  list-style-type: none;
  font-weight: 500;
  font-family: 'Varela Round';
}
.menuList>ul>li>a{
 color:rgb(240, 240, 190);
 text-decoration: none;
 
}

.tmfsHeader{
  color: white;
  
}

/* hover effect */

.menuList>ul>li>a::before {
  content: "";
  display:flex;
  width:0%;
  height: 2px;
  background: rgb(214, 0, 0);
  z-index: -1;
  margin:5px 0px;
  transition: 0.8s;
 

}
.menuList>ul>li>a:hover::before{
  width: 100%;
}





/* section three control */


.control{
  background-color: antiquewhite;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.911);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 15px;
  display:flex ;
  align-items: center;
}
.logotmfs{
  margin:40px 15px ;
  padding: 10px;
 
}
.tmfsPng{
  width:100%;
  height: auto;
  margin: auto;
  max-width: 500px;
  
}


.setRpm{
  padding: 20px;
  background-color: rgb(238, 238, 237);
  display:flex;
  border-radius: 30px;
  width:100%;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  border: 5px;
  border-color: black;
}
h1#setrpmHeader{
  margin: auto;
}
.rpm{
  font-size: 80px;
  font-weight: 500;
  font-family: 'Seven Segment', sans-serif;
  color: rgb(252, 0, 0);
  text-align: center;
  border-radius: 30px;
  border: 0px;
  background-color: rgb(20, 19, 19);
}

/* slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #362f2f;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c70000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
/* slider */

.setBtn{
  width: 150px;
  color: #ffffff;
  background: #362f2f;
  border-radius: 7px;
  border-color: #534c4c;
  font-size: 20px;
  align-self: center;
  opacity: 0.8;
}
.setBtn:hover{
  
  opacity: 1;
}













@media screen and (max-width:800px) {
 
  .tmfsHeader{
    display:none;
  }
  .menuList>ul>li{
    padding:5px;
    font-size: 15px;
  }
  .headerContainer{
    padding: 5px;
  }
  .logotmfs{
    display: none;
  }
}
